# Contact person name: Said Fathalla
# Contact person email: s.fathalla@fz-juelich.de 
# Artifacts: msekg
# Artifacts Names: MSE Knowledge Graph

Options +FollowSymLinks

# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type
AddType application/rdf+xml .owl
AddType application/rdf+xml .rdf
 
RewriteEngine on

# MSE KG homepage
#==============
RewriteRule ^matwerk$ https://msekg-nfdi-matwerk-02.web.vulcanus.otc.coscine.dev [R=303,L]


# lodview terms dereferncing (e.g https://purls.helmholtz-metadaten.de/msekg/matwerk/E117622813)
#==============
RewriteRule ^matwerk/(.*)$ https://msekg-nfdi-matwerk-02.web.vulcanus.otc.coscine.dev/matwerk/$1 [R=303,L]

# sparql
#==============
RewriteRule ^sparql$ https://sparql-nfdi-matwerk-02.web.vulcanus.otc.coscine.dev/sparql [R=303,L]


 

 
