# Contact person name: Said Fathalla
# Contact person email: s.fathalla@fz-juelich.de 
# Artifacts: msekg
# Artifacts Names: MSE Knowledge Graph

Options +FollowSymLinks

 
RewriteEngine on



# sparql
#==============
RewriteRule ^$ https://sparql-nfdi-matwerk-02.web.vulcanus.otc.coscine.dev/sparql [R=303,L]


 

 
