# Contact person name: Ahmad Z. Ihsan
# Contact person email:  a.ihsan@fz-juelich.de
# Artifacts: core, dal, dataset, experiment, complete
# Artifact Names: PRIMA-Core, PRIMA-Data Analysis Lifecycle, PRIMA-Dataset, PRIMA-Experiment, PRIMA-Complete
Options +FollowSymLinks

# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type
AddType application/rdf+xml .owl
AddType application/rdf+xml .rdf
AddType text/turtle .ttl
AddType application/ld+json .jsonld

RewriteEngine on

# PRIMA-Core ontology
#==============
# HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^core$ https://materials-data-science-and-informatics.github.io/MDMC-NEP-top-level-ontology/PRIMA/core/ver_1_0/index.html [R=303,L]

# Rewrite rule to serve RDF/XML content
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*  [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/xml.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*text/xml.*
RewriteRule ^core$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/core/ver_1_0/prima-core.owl [R=303,L]

# Rewrite rule to serve TTL content
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/turtle
RewriteRule ^core$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/core/ver_1_0/prima-core.ttl  [R=303,L]

# JSON-LD
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.*
RewriteRule ^core$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/core/ver_1_0/prima-core.jsonld  [R=303,L]

# Default response
# Rewrite rule to serve the RDF/XML content from the PRIMA-Core IRI by default
RewriteRule ^core$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/core/ver_1_0/prima-core.owl [R=303,L]

# PRIMA-Data Analysis Lifecycle ontology
#==============
# HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^dal$ https://materials-data-science-and-informatics.github.io/MDMC-NEP-top-level-ontology/PRIMA/data-analysis-lifecycle/ver_1_0/index.html [R=303,L]

# Rewrite rule to serve RDF/XML content
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*  [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/xml.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*text/xml.*
RewriteRule ^dal$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/data-analysis-lifecycle/ver_1_0/prima-data-analysis-lifecycle.owl [R=303,L]

# Rewrite rule to serve TTL content
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/turtle
RewriteRule ^dal$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/data-analysis-lifecycle/ver_1_0/prima-data-analysis-lifecycle.ttl  [R=303,L]

# JSON-LD
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.*
RewriteRule ^dal$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/dataset/ver_1_0/prima-dataset.jsonld  [R=303,L]

# Default response
# Rewrite rule to serve the RDF/XML content from the PRIMA-DAL IRI by default
RewriteRule ^dal$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/data-analysis-lifecycle/ver_1_0/prima-data-analysis-lifecycle.owl [R=303,L]

# PRIMA-Dataset ontology
#==============
# HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^dataset$ https://materials-data-science-and-informatics.github.io/MDMC-NEP-top-level-ontology/PRIMA/dataset/ver_1_0/index.html [R=303,L]

# Rewrite rule to serve RDF/XML content
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*  [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/xml.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*text/xml.*
RewriteRule ^dataset$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/dataset/ver_1_0/prima-dataset.owl [R=303,L]

# Rewrite rule to serve TTL content
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/turtle
RewriteRule ^dataset$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/dataset/ver_1_0/prima-dataset.ttl  [R=303,L]

# JSON-LD
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.*
RewriteRule ^dataset$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/dataset/ver_1_0/prima-dataset.jsonld  [R=303,L]

# Default response
# Rewrite rule to serve the RDF/XML content from the PRIMA-Dataset IRI by default
RewriteRule ^dataset$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/dataset/ver_1_0/prima-dataset.owl [R=303,L]

# PRIMA-Experiment ontology
#==============
# HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^experiment$ https://materials-data-science-and-informatics.github.io/MDMC-NEP-top-level-ontology/PRIMA/experiment/ver_1_0/index.html [R=303,L]

# Rewrite rule to serve RDF/XML content
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*  [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/xml.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*text/xml.*
RewriteRule ^experiment$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/experiment/ver_1_0/prima-experiment.owl [R=303,L]

# Rewrite rule to serve TTL content
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/turtle
RewriteRule ^experiment$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/experiment/ver_1_0/prima-experiment.ttl [R=303,L]

# JSON-LD
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.*
RewriteRule ^experiment$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/experiment/ver_1_0/prima-experiment.jsonld  [R=303,L]

# Default response
# Rewrite rule to serve the RDF/XML content from the PRIMA-Experiment IRI by default
RewriteRule ^experiment$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/experiment/ver_1_0/prima-experiment.owl [R=303,L]

# PRIMA-Complete
#==============
# HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^complete$ https://materials-data-science-and-informatics.github.io/MDMC-NEP-top-level-ontology/PRIMA/complete/ver_1_0/index.html [R=303,L]

# Rewrite rule to serve RDF/XML content
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*  [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/xml.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*text/xml.*
RewriteRule ^complete$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/complete/ver_1_0/prima-complete.owl [R=303,L]

# Rewrite rule to serve TTL content
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/turtle
RewriteRule ^complete$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/complete/ver_1_0/prima-complete.ttl [R=303,L]

# JSON-LD
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.*
RewriteRule ^complete$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/complete/ver_1_0/prima-complete.jsonld  [R=303,L]

# Default response
# Rewrite rule to serve the RDF/XML content from the PRIMA-Complete IRI by default
RewriteRule ^complete$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/MDMC-NEP-top-level-ontology/master/PRIMA/complete/ver_1_0/prima-complete.owl [R=303,L]
