Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type
AddType application/rdf+xml .owl
AddType application/rdf+xml .rdf
AddType text/turtle .ttl

RewriteEngine on
# emg v1.0.1
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml|text/\*|\*/\*)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^(EMG_[0-9]+)$ https://owl.emglossary.helmholtz-metadaten.de/index.html#$1   [R=303,NE]

RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*  [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/xml.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*text/xml.*
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^$ https://codebase.helmholtz.cloud/em_glossary/em_glossary_owl/-/raw/main/emg.owl [R=303,L]
