# Contact person name: Said Fathalla
# Contact person email: s.fathalla@fz-juelich.de 
# Artifacts: skgo
# Artifacts Names: Science Knowledge Graph Ontologies (SKGO)
# Resource location: https://github.com/saidfathalla/Science-knowledge-graph-ontologies


Options +FollowSymLinks
 
 
RewriteEngine on
 
# Default Redirect
RewriteRule ^$  https://github.com/saidfathalla/Science-knowledge-graph-ontologies  [R=303,L]

RewriteRule ^physci$  https://raw.githubusercontent.com/saidfathalla/Science-knowledge-graph-ontologies/master/PhySci/physci.owl  [R=303,L]
 
