# https://purls.helmholtz-metadaten.de/skgo

Options +FollowSymLinks
 
 
RewriteEngine on
 
# Default Redirect
RewriteRule ^$  https://github.com/saidfathalla/Science-knowledge-graph-ontologies  [R=303,L]

RewriteRule ^physci$  https://raw.githubusercontent.com/saidfathalla/Science-knowledge-graph-ontologies/master/PhySci/physci.owl  [R=303,L]
 
