# https://purls.helmholtz-metadaten.de/diso
Options +FollowSymLinks
 
# Directive to ensure *.rdf files served as appropriate content type
AddType application/rdf+xml .owl
 
RewriteEngine on
 
# Default Redirect
RewriteRule ^$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/dislocation-ontology/master/dislocation-ontology.owl  [R=303,L]
 
# Rewrite rule to serve OWL content from the vocabulary URI if requested 
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml 
RewriteRule ^$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/dislocation-ontology/master/dislocation-ontology.owl  [R=303,L]
