# Contact person name: Said Fathalla
# Contact person email: s.fathalla@fz-juelich.de 
# Artifacts: hdo
# Artifacts Names: The Helmholtz Digitisation Ontology
# Resource location: https://gitlab.hzdr.de/hmc/hmc-public/hob/hdo/-/raw/main/hdo.owl

Options +FollowSymLinks
AddType application/rdf+xml .rdf .owl
 
RewriteEngine on

# Latest release
## Redirect for hdo terms (e.g. hob/HDO_00004001) and Redirect for hob/hdo
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml [NC,OR]
RewriteCond %{HTTP_ACCEPT} text/turtle [NC,OR]
RewriteCond %{HTTP_ACCEPT} application/ld\+json [NC]
RewriteRule ^hdo$ https://gitlab.hzdr.de/hmc/hmc-public/hob/hdo/-/raw/main/hdo.owl [R=303,L]
RewriteRule ^hdo-full.owl$  https://gitlab.hzdr.de/hmc/hmc-public/hob/hdo/-/raw/main/hdo-full.owl  [R=303,L]
RewriteRule ^hdo-base.owl$  https://gitlab.hzdr.de/hmc/hmc-public/hob/hdo/-/raw/main/hdo-base.owl  [R=303,L]
RewriteRule ^hdo.owl$  https://gitlab.hzdr.de/hmc/hmc-public/hob/hdo/-/raw/main/hdo.owl  [R=303,L]

## HTML clients (browsers) 
RewriteCond %{HTTP_ACCEPT} text/html [NC,OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [NC]
RewriteRule ^hdo$ https://materials-data-science-and-informatics.github.io/Helmholtz-Digitisation-Ontology-Documentation/index-en.html [R=303,L]
RewriteRule ^(HDO_[0-9]+)$ https://materials-data-science-and-informatics.github.io/Helmholtz-Digitisation-Ontology-Documentation/index-en.html#https://purls.helmholtz-metadaten.de/hob/$1  [R=303,NE,L]

## redirects hdo imports
RewriteRule ^hdo/imports/(.*)$ https://gitlab.hzdr.de/hmc/hmc-public/hob/hdo/-/raw/main/src/ontology/imports/$1 [R=301,NC,L]
 
#--------------------------------------------------------------

# Former releases
 
# rel 2024-08-14
#RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^hdo/releases/2024-08-14/hdo.owl$   https://codebase.helmholtz.cloud/hmc/hmc-public/hob/hdo/-/raw/main/releases/2024-08-14/hdo.owl [R=303,L]
RewriteRule ^hdo/releases/2024-08-14/hdo-base.owl$   https://codebase.helmholtz.cloud/hmc/hmc-public/hob/hdo/-/raw/main/releases/2024-08-14/hdo-base.owl [R=303,L]
RewriteRule ^hdo/releases/2024-08-14/hdo-full.owl$   https://codebase.helmholtz.cloud/hmc/hmc-public/hob/hdo/-/raw/main/releases/2024-08-14/hdo-full.owl [R=303,L]

# rel 2025-03-20
#RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^hdo/releases/2025-03-20/hdo.owl$   https://codebase.helmholtz.cloud/hmc/hmc-public/hob/hdo/-/raw/main/releases/2025-03-20/hdo.owl [R=303,L]
RewriteRule ^hdo/releases/2025-03-20/hdo-base.owl$   https://codebase.helmholtz.cloud/hmc/hmc-public/hob/hdo/-/raw/main/releases/2025-03-20/hdo-base.owl [R=303,L]
RewriteRule ^hdo/releases/2025-03-20/hdo-full.owl$   https://codebase.helmholtz.cloud/hmc/hmc-public/hob/hdo/-/raw/main/releases/2025-03-20/hdo-full.owl [R=303,L]

# redirects hob 
RewriteRule ^$ https://codebase.helmholtz.cloud/hmc/hmc-public/hob    [R=303,L]
