# Contact person name: Abril Azocar Guzman
# Contact person email: a.azocar.guzman@fz-juelich.de
# Artifacts: CDCO, PODO, LDO, DISO, PLDO
# Artifacts Names: Crystallographic Defect Core Ontology, Point Defect Ontology, Line Defect Ontology, Dislocation Ontology, Plane Defect Ontology

Options +FollowSymLinks
RewriteEngine on
 
# Redirect for CDOS ontology
RewriteRule ^$ https://github.com/OCDO/cdos   [R=303,L]

# Redirect for CDCO ontology
RewriteRule ^cdco$ https://raw.githubusercontent.com/OCDO/cdco/main/cdco.owl   [R=303,L]

# Redirect for PODO ontology
RewriteRule ^podo$ https://raw.githubusercontent.com/OCDO/podo/main/podo.owl   [R=303,L]

# Redirect for LDO ontology
RewriteRule ^ldo$ https://raw.githubusercontent.com/OCDO/ldo/main/ldo.owl  [R=303,L]

# Redirect for LDO/DISO ontology
RewriteRule ^ldo/diso$ https://raw.githubusercontent.com/OCDO/ldo/main/DISO/diso.owl   [R=303,L]

# Redirect for PLDO ontology
RewriteRule ^pldo$ https://raw.githubusercontent.com/OCDO/pldo/main/pldo.owl   [R=303,L]
