# Contact person name: Abril Azocar Guzman
# Contact person email: a.azocar.guzman@fz-juelich.de
# Artifacts: MMSS, ASMO, DSIM
# Artifacts Names: Materials Modelling and Simulation Suite, Dislocation Simulation and Model Ontology
# Resource location: https://raw.githubusercontent.com/OCDO/DSIM/main/dislocation-sim-model-ontology.owl

Options +FollowSymLinks
 
 
RewriteEngine on

# Redirect for MMSS ontology suite
RewriteRule ^$ https://github.com/OCDO/mmss   [R=303,L]

# Redirect for DSIM ontology
RewriteRule ^dsim$ https://raw.githubusercontent.com/OCDO/DSIM/main/dislocation-sim-model-ontology.owl   [R=303,L]
