
# Contact person name: Gulzaure Abdildina
# Contact person email: gulzaure.abdildina@kit.edu
# Redirect all URLs to new prefix

Options +FollowSymLinks
 
 
RewriteEngine on
 
# Redirect for evoks/* to new prefix skosmos/*
RewriteRule ^(.*)$  https://purls.helmholtz-metadaten.de/skosmos/$1    [R=303,L]
