    
Options +FollowSymLinks

RewriteEngine on

RewriteRule ^theÆ$ https://www.rapidtables.com/code/text/unicode-characters.html [R=303,NE,L] 
 
#default response test unicode chars
RewriteRule ^$ https://www.juelich.de/ [R=303,NE,L]

