# Contact person name: Said Fathalla
# Contact person email: s.fathalla@fz-juelich.de 
# Artifact name: Helmholtz KG
# Resource location: https://sparql.unhide.helmholtz-metadaten.de/

Options +FollowSymLinks

# Turn off MultiViews
Options -MultiViews

RewriteEngine on

# default
#==============
RewriteRule ^$ https://sparql.unhide.helmholtz-metadaten.de/ [R=303,L]
