# Contact person name: Said Fathalla
# Contact person email: s.fathalla@fz-juelich.de 

Options +FollowSymLinks

# Turn off MultiViews
Options -MultiViews

RewriteEngine on

# default
#==============
RewriteRule ^$ https://search.unhide.helmholtz-metadaten.de/ [R=303,L]
