div {
      text-align: justify;
      text-justify: inter-word;
      }
      li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
pre code {
  background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #1B6F9F;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.tcontainer {
        width: 100%;
        overflow: hidden;
        padding-left: 8%;
    }
.ticker-move {
        width: 82%;
        overflow: hidden;
        padding-left: 2%;
    }
        
 
#news-bar a:hover {
  transition: 0.37s;
  color: red;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 2px !important;
    background-color: #2596be;
    border-radius: 50%;
    display: inline-block
}
  mark {
  background-color: #d2e6ef;
  padding:0.2em 0.3em;
border-radius: 25% 10%;
}
