# https://purls.helmholtz-metadaten.de/cso

Options +FollowSymLinks
 
RewriteEngine on
 
# Rewrite rule to serve RDF/XML content from the vocabulary URI if requested
RewriteRule ^$ https://raw.githubusercontent.com/Materials-Data-Science-and-Informatics/dislocation-ontology/master/crystal-structure-ontology.owl  [R=303,L]
 
