# Contact person name: Volker Hofmann
# Contact person email: v.hofmann@fz-juelich.de 
# Artifact name: Storage API of Helmholtz KG including QA and DEV APIs
# Resource location: https://data.unhide.helmholtz-metadaten.de/api/v0/raw/entity/

Options +FollowSymLinks

# Turn off MultiViews
Options -MultiViews
RewriteEngine on

# Redirect /dev/ to the dev API endpoint
RewriteRule ^dev/?(.*)$ https://data.dev.unhide.helmholtz-metadaten.de/api/v0/raw/entity/$1 [R=301,L]

# Redirect /qa/ to the qa API endpoint
RewriteRule ^qa/?(.*)$ https://data.qa.unhide.helmholtz-metadaten.de/api/v0/raw/entity/$1 [R=301,L]

# Redirect any sub-resource
RewriteRule ^(.*)$ https://data.unhide.helmholtz-metadaten.de/api/v0/raw/entity/$1 [R=303,L]
