# Contact person name: Volker Hofmann
# Contact person email: v.hofmann@fz-juelich.de
# Ontologies:
# Ontology Names: EM Glossary

Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

RewriteEngine on

#default response
RewriteRule ^$ https://codebase.helmholtz.cloud/em_glossary [R=303,NE,L]
