# Contact person name: Ilia Bagov
# Contact person email: ilia.bagov@kit.edu
# Ontologies:
# Ontology Names: VPR

Options +FollowSymLinks


RewriteEngine on

# Default Redirect
RewriteRule ^$  https://www.iam.kit.edu/zm/  [R=303,L]
