# Contact person name: Abril Azocar Guzman
# Contact person email: a.azocar.guzman@fz-juelich.de
# Artefact: CMSO
# Artefact Name: Computational Material Sample Ontology
# Resource location: https://raw.githubusercontent.com/OCDO/cmso-ontology/main/cmso.owl

Options +FollowSymLinks
 
 
RewriteEngine on
 
# Redirect for cmso ontology
RewriteRule ^$  https://raw.githubusercontent.com/OCDO/cmso-ontology/main/cmso.owl    [R=303,L]
 
